body {
    margin: 0;
    overflow: hidden;
    /* This prevents the page from being scrollable */
    color: white;
    font-family: Inter;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* rotate entire webapge 180deg */
html {
    transform: rotate(0deg);
    transform-origin: center;
    position: absolute;
    width: 100%;
    height: 100%;
    /* add background image */
    background-image: url("https://i.imgur.com/5Xy9J3U.png");
}



.video {
    width: 100%;
    height: 100%;
    background-color: black;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.controls {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.right {
    position: absolute;
    right: 0;
    height: 100%;
}

.left {
    position: absolute;
    left: 0;
    height: 100%;
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
}

.controls-button {
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.controls-button:hover {
    cursor: pointer;
    background-color: #222222;
}

.controls-button svg {
    width: 50%;
    height: 50%;
}

.dropshadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#currentVideo {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.progress-filled {
    background-color: #30a7fc;
    height: 10px;
    position: absolute;
    bottom: 0;
    transition: width 0.05s linear;
}

.progress-filled:hover,
.progress:hover {
    cursor: pointer;
}

.progress {
    background-color: rgba(0, 0, 0, 0.2);
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container:hover {
    cursor: cell;
}

#overlay {
    position: fixed;
    top: 10px;
    left: 70px;
    right: 70px;
    bottom: 10px;
    background: transparent;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay-loading {
    /* border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%; */
    height: 80px;
    width: auto;
    animation: spin 2s linear infinite;
}

.player-button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    border-radius: 100%;
    min-width: 80px;
    height: 80px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.player-button svg {
    width: 50%;
    height: 50%;
    margin-left: 5%;
    pointer-events: none;
}

#aris {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    transition: right 30s linear;
    z-index: 99;
}

/* Settings */

.settings {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container {
    width: 60vw;
    height: 75vh;
    background-color: #292929;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    z-index: 11;
}

.settings-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.settings-close:hover {
    color: #d9d9d9;
}

.settings-close svg {
    width: 20px;
    height: 20px;
}

.settings-button {
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.settings-button:hover {
    cursor: pointer;
    background-color: #222222;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

