body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

video {
    width: 80%;
    height: 80%;
}

.download {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
}

.download a {
    text-decoration: none;
    color: white;
}

.download a:hover {
    text-decoration: underline;
    font-weight: bold;
}